body { 
  font-family: 'Raleway', sans-serif;
  background-color: #c0e0de; 
  color: #162521; 
}

.image-gallery { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  max-width: 90vw; 



}

h1 { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  font-weight: 700; 
  font-size: 2rem; 
  margin-top: 2rem; 
}

figure {
padding: 10px; 
}


h2 { 
  font-weight: 700; 
  font-size: 0.7rem;
  
}

img { 
  object-fit: cover;
  max-width: 100%; 
  width: 20rem; 
  height: 10rem;

  box-shadow: 2px 2px 2px 2px #4f7cac; 


}

img:hover { 
  opacity: 0.5; 
  transition: 0.3s; 
}

figcaption { 
  max-width: 60ch; 
  justify-content: center;

}